#top
{
background-color:black;
height:20px;
width:100%;
color:red;
}
body
{
background-color:black;
}
#container
{
background-color:#FFD700;

width:100%;
}
#header
{
background-color:white;
height:150px;
}
#header img
{
height:150px;
width:250px;

}
#header ul
{
float:right;
margin-top:60px;
}
#header ul li
{
display:inline;
margin-right:40px;
}
#header ul li a
{
color:black;
text-decoration:none;
font-size:40px;
}
#section img
{
width:100%;
padding-bottom:20px;

}
#content1
{
width:45%;
height:400px;
background-color:white;
float:left;
}
#content2
{
width:45%;
height:400px;
background-color:white;
float:right;	
}
.heading
{
color:black;
font-size:40px;

}
.para1
{
font-size:20px;

}
.para2
{
font-size:20px;
}
